/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.banner {
  max-width: 1300px;
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to right, #1a2386, #6323bd);
  text-align: center;

  padding: 15px; }

.rtx {
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

.container {
display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar {
width: 280px;
    background: #e8e4f3;
    border-radius: 20px;
    padding: 20px;
    flex-shrink: 0;

}

.sidebar h2 {
    background: #a387d5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

/* carrusel */

        .content {
            flex: 1;
            display: grid;
            grid-template-columns: 1fr 300px; /* Columna de productos y columna vacía derecha */
            gap: 20px;
        }

        .sections-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .main-section {
            background-color: #e2e4f3;
            border-radius: 25px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        }
       .section-title {
            text-align: center;
            font-size: 1.1rem;
            color: #333;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        /* --- CARRUSEL --- */
        .carousel-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .arrow-btn {
            background-color: #4a69bd;
            color: white;
            border: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        }
        .arrow-btn:hover { background-color: #3c55a5; }
/* bloque de la derecha */

        .novedades-sidebar {
            background-color: #e2e4f3;
            border-radius: 25px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 19px;
            height: 90%;
        }

        .novedad-banner {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s;
            cursor: pointer;
        }

        .novedad-banner:hover {
            transform: scale(1.03);
        }

        .novedad-banner img {
            width: 100%;
            display: block;
            object-fit: cover;
        }